@font-face {
  font-family: 'Dm Sans Test';
  src: url('../../../../public/fonts/dm_sans_variable.ttf') format('truetype');
}

body {
  background: #f4f8ff;
  color: #14213d;
  font-family: 'Dm Sans Test', sans-serif;
}
